<h1>全ての人にテクノロジーという武器を</h1>

<p>Dive into Code</p>

<div class="jumbotron">
  <h1>Achieve</h1>
  <p>経験ゼロからWebエンジニアになる</p>
  <p>Achieveは目標達成を支援するWebアプリケーションです。</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>