<h1>全ての人にテクノロジーという武器を</h1>

<p>Dive into Code</p>

<% if user_signed_in? %>
    <%= link_to 'Landing', destroy_user_session_path, method: :delete, class: "btn" %>
    <%= link_to 'My Page', edit_user_registration_path, class: "btn" %>
<% else %>
    <%= link_to 'Dive_Now', new_user_session_path, class:'btn' %>
<% end %>

<%= link_to 'Inquiry', inquiry_path, class: 'btn' %>