<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
      お問い合わせを確認してください。</br>
      投稿者：<%= @inquiry.name %></br>
      <%= @inquiry.massage %>
        </p>
  </body>
</html>