<% @mails.each do |mail| %>

<div class="panel panel-primary">
   
    <div class="panel-heading">
    <h3 class="panel-title"><%= mail.subject %></h3>
    </div>

    <div class="panel-body">
    <%= simple_format(raw(mail.body.decoded.encode("UTF-8", mail.charset))) %>

    </div>

</div>
   
<% end %>